// red - #f75c5c
// silver - #CECECE
// white - #FEFEFE
// blue - #002C6D

$blue: #002C6D;
// $blue: rgb(95, 112, 163);

/*
  Hide compile warnings and notifications, make want to set to true in dev
*/
$theme-show-compile-warnings: false;
$theme-show-notifications: false;

/*
  These are necessary for the image and font urls referenced in the source
  files to resolve correctly.
*/
$theme-image-path: '../../node_modules/uswds/src/img';
$theme-font-path: '../../node_modules/uswds/src/fonts';

/*
  The url for the hero image in the source file is not currently prefixed by
  the $theme-image-path above.
*/

$theme-hero-image: '#{$theme-image-path}/hero.png';

// Your custom changes to variables go here
// Uncomment to see this working
// $theme-color-primary-darker: 'black';

@import '../../node_modules/uswds/dist/scss/uswds.scss';

@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@700&family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;700&display=swap');

// Your custom SASS/CSS goes here
@media screen and (min-width: 64em) {
  .tablet\:width-1\/3 {
    width: 33%;
  }
  .tablet\:float-left {
    float: left;
  }
}

@media screen and (min-width: 64em) {
  .paginate-link {
    display: initial;
  }
  .paginate-button {
    display: none;
  }
}

@media screen and (max-width: 64em) {
  .paginate-link {
    display: none;
  }
  .paginate-button {
    display: block;
  }
}

@media screen and (max-width: 40em) {
  .mobile-hidden {
    display: none;
  }
}

@media screen and (min-width: 40em) {
  .desktop-hidden {
    display: none;
  }
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

.usa-hero {
  min-height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 0;
  padding-bottom: 0;
  // background-position-y: -10%;

  @media screen and (max-width: 64em) {
    min-height: 60vh;
    div.usa-hero__callout {
      padding-top: 0;
      padding-left: 30px;
      padding-right: 30px;
      top: unset;
      bottom: 10px;
      width: 100%;
      h1 {
        margin-top: 0 !important;
      }
    }
  }

  @media screen and (max-height: 700px) {
    min-height: 85vh;
    div.usa-hero__callout {
      padding-top: 0;
      top: unset;
      bottom: 10px;
      width: 100%;
      h1 {
        margin-top: 0 !important;
      }
    }
  }

  // @media screen and (max-height: 700px) {
  //   div.usa-hero__callout {
  //     margin-top: 0;
  //     // overflow-y: auto;
  //   }
  // }
}

.hidden-desktop, .usa-prose .usa-collection__item.hidden-desktop {
  display: none;
}

@media screen and (max-height: 900px) {
  .hidden-mobile-landscape {
    display: none;
  }
  .show-mobile-landscape {
    display: block !important;
  }
}

@media screen and (max-width: 64em) {
  .hidden-mobile {
    display: none;
  }
  .hidden-desktop {
    display: block;
  }
  .usa-prose .usa-collection__item.hidden-desktop {
    display: flex;
  }
}

* {
  // font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'DM Sans',system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}

h3, h4, h5, h6 {
  // font-family: 'IBM Plex Sans', sans-serif !important;
  font-family: 'DM Sans',system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

  color: black;
}

h1, h2, .usa-logo a, input[type=text] {
  font-family: 'Gabarito', serif !important;
  font-family: 'Kanit', serif !important;
  color: $blue;
}

.usa-button, .usa-collection__calendar-date-month {
  background-color: $blue;
}

.usa-button.usa-button--outline {
  background-color: white;
}

.usa-collection__calendar-date-day {
  border: 1px solid $blue;
  color: $blue;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.usa-section {
  padding-top: 15px;
  padding-bottom: 15px;
}

// .usa-nav {
//   .usa-nav__close {
//     display: none;
//   }
//   padding-top: 0;
//   padding-bottom: 0;
//   display: block;
//   position: static;
//   width: 100%;
//   @media screen and (min-width: 64em) {
//     border-top: 1px solid #dfe1e2;
//     padding: 0;
//   }
//   @media screen and (max-width: 64em) {

//   }
// }

li.usa-nav__primary-item {
  display: flex;
  align-items: center;
}

.usa-nav__link.usa-button {
  color: white !important;
  margin: 5px;
}

.usa-media-block__img {
  width: 100px;
  border-radius: 50%;
}

.usa-hero {
  background: none;
  display: flex;
  padding: none;
}

.usa-hero > div.grid-container {
  background: none;
  max-width: none;
  position: absolute;
  right: 0;
  margin: none;
  width: 50%;
  height: 100%;
  padding-top: 15vw;
  padding-bottom: 4vw;
  padding-left: 0;
  padding-right: 0;
  text-align: center;

  img {
    max-width: 290px;
    margin-bottom: 8px;
  }

  @media screen and (max-width: 64em) {
    display: none;
  }
}

.usa-hero > div.grid-container::before {
  content: '';
  z-index: -1;
  position: absolute;
  inset: 0 0 0 -60vw;
  background: linear-gradient(to left, $blue 0%, $blue 100%);
  -webkit-mask-image: linear-gradient( to left, rgba(255,255,255, 1) 40%, rgba(255,255,255, 0.966) 42.125%, rgba(255,255,255, 0.92) 43.975%, rgba(255,255,255, 0.864) 45.65%, rgba(255,255,255, 0.8) 47.15%, rgba(255,255,255, 0.73) 48.525%, rgba(255,255,255, 0.654) 49.85%, rgba(255,255,255, 0.574) 51.125%, rgba(255,255,255, 0.493) 52.4%, rgba(255,255,255, 0.411) 53.725%, rgba(255,255,255, 0.33) 55.125%, rgba(255,255,255, 0.252) 56.675%, rgba(255,255,255, 0.179) 58.4%, rgba(255,255,255, 0.111) 60.325%, rgba(255,255,255, 0.051) 62.525%, rgba(255,255,255, 0) 100%);
  mask-image: linear-gradient( to left, rgba(255,255,255, 1) 40%, rgba(255,255,255, 0.966) 42.125%, rgba(255,255,255, 0.92) 43.975%, rgba(255,255,255, 0.864) 45.65%, rgba(255,255,255, 0.8) 47.15%, rgba(255,255,255, 0.73) 48.525%, rgba(255,255,255, 0.654) 49.85%, rgba(255,255,255, 0.574) 51.125%, rgba(255,255,255, 0.493) 52.4%, rgba(255,255,255, 0.411) 53.725%, rgba(255,255,255, 0.33) 55.125%, rgba(255,255,255, 0.252) 56.675%, rgba(255,255,255, 0.179) 58.4%, rgba(255,255,255, 0.111) 60.325%, rgba(255,255,255, 0.051) 62.525%, rgba(255,255,255, 0) 100%);
  pointer-events: none;
  @media screen and (max-width: 64em) {
    display: none;
  }
}

.usa-hero > div.image {
  width: 60%;
  margin-left: 0%;
  z-index: -2;
  img {
    display: block;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  @media screen and (max-width: 64em) {
    width: 100%;
    margin-left: 0;
  }
}

.usa-hero__callout p {
  color: white;
}

.about-images img {
  margin-bottom: 15px;
}

h1 {
  text-align: center;
  margin-top: .67em !important;
}

.usa-section--dark h1 {
  color: white !important;
}

.grid-gap {
  margin-bottom: 10px;
}

.usa-media-block__body img {
  // display: none;
}

.why-not {
  .usa-media-block {
    margin-bottom: 0 !important;
  }
  p img {
    display: none;
  }
}

.usa-hero {
  position: relative;
  .usa-hero__callout {
    padding: 0;
    max-width: none;
    background: none;
    top: 0;
    left: 0;
    padding-left: 25px;
    padding-top: 45px;
    .usa-hero__heading {
      color: white;
      font-size: 3em;
    }
  }
}

div.hero-text {
  p {
    font-size: 1em;
  }

  .form {
    text-align: center;
    max-width: 400px;
    margin: auto;
    input[type=text], a.usa-button {
      max-width: 140px;
      transition-duration: 0.2s;
      transition-property: background-color,fill;
      word-break: break-word;
      font: inherit;
      letter-spacing: inherit;
      border: 0;
      box-sizing: content-box;
      -webkit-tap-highlight-color: transparent;
      display: block;
      min-width: 0;
      animation-name: mui-auto-fill-cancel;
      animation-duration: 10ms;
      border-radius: 0;
      height: auto;
      padding: 0.6em 1em;
      width: 100%;
      box-shadow: none;
      line-height: 1.4;
      display: inline-block;
      margin: 4px;
    }

    a.usa-button {
      background: #f75c5c;
      color: white;
    }

    .disclaimer {
      text-align: left;
      margin-top: 8px;
    }

    .disclaimer input {
      margin-right: 8px;
    }

    .disclaimer label {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 64em) {
  .mobile-hero {
    background-color: $blue;
    div.hero-text {
      .form {
        max-width: 100%;
        width: 100%;
        text-align: center;
        input[type=text], a.usa-button {
          width: 80%;
          max-width: 400px;
        }
        label {
          color: white;
        }
      }
    }
  }
}

.usa-nav__inner {
  max-width: none !important;
  display: flex;
  padding-top: 20px;
  div.nav-title {
    // flex: 1;
    a {
      padding: 0 !important;
    }
    a::after {
      // No highlight for selected items
      display: none;
    }
    img, div {
      display: inline-block;
    }
    img {
      max-width: 170px;
      margin-bottom: 10px;
    }
  }
}

div.donate {
  flex: 1;
  max-width: 200px;
  justify-content: end;
  a {
    font-weight: bold;
    letter-spacing: 0.25em;
    background-color: rgb(77, 127, 221);
  }
}

.nav-mobile {
  .nav-list {
    text-align: center;
  }
  .nav-list > div {
    margin: auto;
    display: inline-block;
  }
  div.donate {
    margin: 5px;
    a {
      margin: 0;
    }
  }
  img {
    max-width: 300px;
    margin: auto;
    display: block;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  padding: 20px 0;
}

div.nav-list {
  flex: 1;
  ul {
    justify-content: end;
    margin-right: 30px;
    li {
      a {
        overflow-wrap: break-word;
        tab-size: 4;
        font-feature-settings: "calt" 0,"lnum";
        font-variant-numeric: lining-nums;
        -webkit-text-size-adjust: none;
        -webkit-font-smoothing: antialiased;
        list-style-type: none;
        text-align: left;
        box-sizing: border-box;
        background-repeat: no-repeat;
        line-height: calc(.95em + 10px);
        word-break: break-word;
        margin: 0;
        text-decoration: none;
        cursor: pointer;
        margin-right: 1.6em;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.25em;
        white-space: nowrap;
        transition: 0.2s;
        padding-bottom: 0.3em;
        border-bottom: 3px solid #f75c5c;
        border-radius: 0;
      }
    }
  }
}

header.usa-header {
  background: $blue;
}

.usa-nav__primary-item {
  // background: none;
  a {
    color: white !important;
  }
}

.index-page {
  header.usa-header {
    position: absolute;
    width: 100%;
    background: none;
  }
  .nav-title {
    display: none;
  }
  .nav-mobile {
    display: none;
  }
  .nav-mobile.nav-mobile-homepage {
    display: none;
    @media screen and (max-width: 64em) {
      & {
        display: block;
      }
    }
    img {
      display: none;
    }
  }
  nav.show-mobile {
    display: none;
  }

  .mobile-logo {
    padding: 20px;
    img {
      max-width: 100%;
    }
  }
}

.logo-gallery {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1em;
  > div {
    flex: 1;
    text-align: center;
  }
}

.about-ashwin-page {
  @media screen and (max-width: 64em) {
    h2 {
      margin-bottom: 0;
    }
  }
}

section {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body {
  background: $blue;
}

.why-now {
  padding-top: 30px;
  .usa-prose {
    margin: auto;
  }
  .bold-quote {
    // color: rgb(95, 112, 163);
  }
}

.smile-outer {
  cursor: default;
  overflow-wrap: break-word;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  font-feature-settings: "calt" 0,"lnum";
  font-variant-numeric: lining-nums;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  font-size: calc(16px + .2vw);
  color: $blue;
  font-weight: 400;
  box-sizing: border-box;
  background-repeat: no-repeat;
  line-height: calc(.95em + 10px);
  transition-duration: 0.2s;
  transition-property: background-color,fill;
  word-break: break-word;
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 0 auto 4vw;
  transform: rotate(-2deg);
  width: 100%;
  margin-left: 0;
  margin-bottom: 0;
  &::before {
    content: '';
    background: url(../images/curved_shadow.png);
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 75vmin;
    mix-blend-mode: multiply;
    position: absolute;
    top: -1.5%;
    left: -2%;
    height: 107%;
    width: 104%;
    z-index: -1;
  }
}

.smile-container {
  cursor: default;
  overflow-wrap: break-word;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  font-feature-settings: "calt" 0,"lnum";
  font-variant-numeric: lining-nums;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  font-size: calc(16px + .2vw);
  color: $blue;
  font-weight: 400;
  text-align: center;
  box-sizing: border-box;
  background-repeat: no-repeat;
  line-height: calc(.95em + 10px);
  transition-duration: 0.2s;
  transition-property: background-color,fill;
  word-break: break-word;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: space-between;
  background: white;
  -webkit-box-align: center;
  align-items: start;
  border: 10px solid white!important;
  height: 446.031px;
  width: 100%;
}

footer {
  background: $blue;
  color: white;
  padding: 20px;
  text-align: center;

  a {
    color: white !important;
  }
}

.grid-media {
  .img-container {
    height: 50px;
    img {
      max-width: 140px;
    }
  }
  li {
    text-align: left;
  }
  .usa-card__header {
    padding-bottom: 0;
  }
  a {
    font-weight: bold;
  }
}

.grid-endorsements {
  h4 {
    margin-bottom: 0;
    font-weight: normal;
  }
  h2 {
    // font-weight: bold;
  }
  img {
  }
}

h2.usa-card__heading {
  font-weight: normal;
}

.issues {
  background-size: cover;
  background-position-x: center;
  // max-width: none;
  img.ready-to-work {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }

  .issue-group {
    max-width: 500px;
    margin: auto;
    background: white;
    float: right;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    li.issue {
      list-style-type: none;
      h2 {
        font-weight: bold;
        margin-bottom: 0;
      }
    }
  }
}

.issues-2 {
  padding-top: 20px;
  h3 {
    svg {
      display: inline-block;
      margin-right: 15px;
      transform: translateY(5px);
    }
    margin-bottom: 10px;
  }

  details {
    // display: inline-block;
    // margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
    background-color: #e4eaef;
    border-radius: 5px;
    summary {
      // text-decoration: underline;
      // color: #0070E0;
      // ::marker {
      //   display: none;
      // }
    }
  }

  summary::after {
    content: "More details";
  }
  
  details[open] summary::after {
    content: "More details";
  }
  details[open] {

  }
}