// red - #B42033
// silver - #CECECE
// white - #FEFEFE
// blue - #3C3B6E


/*
  Hide compile warnings and notifications, make want to set to true in dev
*/
$theme-show-compile-warnings: false;
$theme-show-notifications: false;

/*
  These are necessary for the image and font urls referenced in the source
  files to resolve correctly.
*/
$theme-image-path: '../../node_modules/uswds/src/img';
$theme-font-path: '../../node_modules/uswds/src/fonts';

/*
  The url for the hero image in the source file is not currently prefixed by
  the $theme-image-path above.
*/

$theme-hero-image: '#{$theme-image-path}/hero.png';

// Your custom changes to variables go here
// Uncomment to see this working
// $theme-color-primary-darker: 'black';

@import '../../node_modules/uswds/dist/scss/uswds.scss';

@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@700&family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&display=swap');

// Your custom SASS/CSS goes here
@media screen and (min-width: 640px) {
  .tablet\:width-1\/3 {
    width: 33%;
  }
  .tablet\:float-left {
    float: left;
  }
}

@media screen and (min-width: 640px) {
  .paginate-link {
    display: initial;
  }
  .paginate-button {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .paginate-link {
    display: none;
  }
  .paginate-button {
    display: block;
  }
}


.usa-hero {
  min-height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  // background-position-y: -10%;

  @media screen and (max-width: 640px) {
    min-height: 60vh;
    div.usa-hero__callout {
      padding-top: 0;
      padding-left: 30px;
      padding-right: 30px;
      top: unset;
      bottom: 10px;
      width: 100%;
      h1 {
        margin-top: 0 !important;
      }
    }
  }

  @media screen and (max-height: 700px) {
    min-height: 85vh;
    div.usa-hero__callout {
      padding-top: 0;
      top: unset;
      bottom: 10px;
      width: 100%;
      h1 {
        margin-top: 0 !important;
      }
    }
  }

  // @media screen and (max-height: 700px) {
  //   div.usa-hero__callout {
  //     margin-top: 0;
  //     // overflow-y: auto;
  //   }
  // }
}

.hidden-desktop, .usa-prose .usa-collection__item.hidden-desktop {
  display: none;
}

@media screen and (max-height: 700px) {
  .hidden-mobile-landscape {
    display: none;
  }
  .show-mobile-landscape {
    display: block !important;
  }
}

@media screen and (max-width: 640px) {
  .hidden-mobile {
    display: none;
  }
  .hidden-desktop {
    display: block;
  }
  .usa-prose .usa-collection__item.hidden-desktop {
    display: flex;
  }
}

* {
  font-family: 'IBM Plex Sans', sans-serif;
}

h3, h4, h5, h6 {
  font-family: 'IBM Plex Sans', sans-serif !important;
  color: black;
}

h1, h2, .usa-logo a {
  font-family: 'Gabarito', serif !important;
  color: #3C3B6E;
}

.usa-button, .usa-collection__calendar-date-month {
  background-color: #3C3B6E;
}

.usa-button.usa-button--outline {
  background-color: white;
}

.usa-collection__calendar-date-day {
  border: 1px solid #3C3B6E;
  color: #3C3B6E;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.usa-section {
  padding-top: 15px;
  padding-bottom: 15px;
}

// .usa-nav {
//   .usa-nav__close {
//     display: none;
//   }
//   padding-top: 0;
//   padding-bottom: 0;
//   display: block;
//   position: static;
//   width: 100%;
//   @media screen and (min-width: 640px) {
//     border-top: 1px solid #dfe1e2;
//     padding: 0;
//   }
//   @media screen and (max-width: 640px) {

//   }
// }

li.usa-nav__primary-item {
  display: flex;
  align-items: center;
}

.usa-nav__link.usa-button {
  color: white !important;
  margin: 5px;
}

.usa-media-block__img {
  width: 100px;
  border-radius: 50%;
}

.usa-hero .usa-hero__callout {
  position: absolute;
  bottom: 20px;
  right: 30px;
  // @media screen and (max-width: 640px) {
  //   position: static;
  // }
}

.usa-hero__callout p {
  color: white;
}

.about-images img {
  margin-bottom: 15px;
}

h1 {
  text-align: center;
  margin-top: .67em !important;
}

.usa-section--dark h1 {
  color: white !important;
}

.grid-gap {
  margin-bottom: 10px;
}

.usa-media-block__body img {
  // display: none;
}

.why-not {
  .usa-media-block {
    margin-bottom: 0 !important;
  }
  p img {
    display: none;
  }
}

.usa-hero {
  position: relative;
  .usa-hero__callout {
    padding: 0;
    background: none;
    top: 0;
    left: 0;
    padding-left: 25px;
    padding-top: 45px;
    .usa-hero__heading {
      color: white;
      font-size: 3em;
    }
  }
}

div.hero-text {
  p {
    font-size: 1em;
  }

  input {
    display: inline-block;
    width: 100%;
    max-width: 480px;
    margin-bottom: 5px;
  }

  a.usa-button {
    margin-top: 5px;
    width: 100%;
    max-width: 480px;
  }
}

.usa-nav__inner {
  display: flex;
  div.nav-title {
    // flex: 1;
    img, div {
      display: inline-block;
    }
  }
  div.nav-list {
    flex: 1;
    ul {
      justify-content: end;
    }
  }
}

header.usa-header {
  background: white;
}

.index-page {
  header.usa-header {
    position: absolute;
    width: 100%;
    background: none;
  }
  .nav-title {
    visibility: hidden;
  }
  .usa-nav__primary-item {
    // background: none;
    a {
      color: white;
    }
  }
}

.logo-gallery {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1em;
  > div {
    flex: 1;
    text-align: center;
  }
}

.about-ashwin-page {
  @media screen and (max-width: 640px) {
    h2 {
      margin-bottom: 0;
    }
  }
}

.issue {
  text-align: center;
  h1 {
    margin: 0 !important;
    padding: 0;
    font-size: 3em;
  }
}

section {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body {
  background: #3C3B6E;
}